{% extends 'base.html' %}
{% block title %}
Подтверждение восстановление пароля
{% endblock title %}

{% block content %}
<h1 class="password-reset-heading">Подтверждение восстановления пароля</h1>
{% if validlink %}
<p class="password-reset-para">Придумайте новый пароль и заполните форму ниже:</p>
<div class="password-reset-form">
<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Поменять пароль"></p>
</form>
</div>
{% else %}
<p class="password-reset-para">
    Ссылка для восстановления, по которой Вы прошли, недействительна.
    Запросите её повтороно.
</p>
{% endif %}

{% endblock content %}